*{
	box-sizing: border-box;
}

.main-page-wrapper{
	background: url("./img/1.png") center top no-repeat, url("./img/2.png") right bottom no-repeat; 
}

body {
	margin: 0;
	font-family: "Open Sans";
	color: #fff;
	font-size: 16px;
	line-height: 1.42;
	background: #001821;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

html, body {
	height: 100%;
	width: 100%;
}

ul li {
	list-style: none;
}

ul {
	padding: 0;
	margin: 0;
} 

img{
	display: block;
	max-width: 100%;
}

a {
	color: inherit;
}

h1, h2, h3, h4, p {
	margin: 0;
}
 

.container {
	width: 1139px;
	margin: 0 auto;
}

.hero__container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 600px;
}

.header {
	padding-top: 30px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__col{
	display: flex;
	align-items: center;
}

.header__col--aling--right{
	justify-content: flex-end;
}

.logo {
	display: block;
	margin-right: 80px;
}

.menu__item {
	display: inline-block;
	margin-right: 54px;
}

.menu__item:last-child {
	margin-right: 0px;
}

.menu__link {
	font-size: 14px;
	text-decoration: none;
}

.contacts__sh {
	font-style: normal;
	text-align: right;
}

.contacts__phone-sh {
	text-decoration: none;
	font-size: 26px;
	margin-bottom: 2px;
}

.contacts__workhour {
	font-size: 13px;
	text-decoration: underline;
}

.preview {
	width: 45%;
	margin-bottom: 246px;
}

.preview__logo-title{
	font-size: 72px;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 20px;
}
	
.preview__text {
	font-size: 18px;
	margin-bottom: 31px;
}

.preview__button {
	background: #f5170e;
	border-radius: 35px; 
	padding: 18px 40px;
	color: #fff;
	outline: none;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid transparent;
}

.features{
	margin-bottom: 127px;
}

.features__title-h4 {
	display: inline-block;
	font-size: 36px;
	line-height: 42px;
	font-weight: bold;
	margin-bottom: 51px;
}

.features__sm{
	margin-left: 280px;
}

.features__list{
	display: flex;
	justify-content: space-between;
}

.features__item {
	min-height: 305px;
	width: calc(100% / 3 - 30px);
	background: white;
	border-radius: 5px;

}

.features__item:last-child{
	margin-right: 0;
}

.features__icon{
	min-height: 144px;
}


.features__content{
	padding: 33px 22px;
	color: black;
}

.features__subtitle{
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 23px;
}

.features__desc-pic-cal{
	display: inline-block;
}

.features__desc-pic-cal:last-child{
	margin-left: 0;
}

.features__desc-pic-br{
	display: inline-block;
	margin-left: 28px;
}

.features__desc-block {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 16px;
	color: #666666;
}

.features__desc-bloc:last-child{
	margin-right: 0;
}

.features__text{
	font-size: 14px;
	color: #303030;
	padding: 5px 22px 23px 22px;
}

.features__button {
	background: #F5170E;
	border-radius: 35px;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	width: 135px;
	height: 55px;
	border: 2px solid transparent;
	margin-bottom: 26px;
	margin-left: 24px;
	border: 1px solid transparent;
}

.features__button--border{
	background: transparent;
	color: #F5170E;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 135px;
	height: 55px;
	border-radius: 35px;
	margin-bottom: 26px;
	margin-left: 24px;
	border: 1px solid #F5170E;
}

.news__title{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 51px;
}

.news__list{
	margin-bottom: 57px;
	display: flex;
	justify-content: space-between;
}

.news__item{
	margin-right: 5%;
	flex: 1;
}

.news__item:last-child {
	margin-right: 0px;
}

.single-news{
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	
}

.single-news__content{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0; 
	padding: 25px 30px ;
	min-height: 140px;
}

.single-news__date {
	font-size: 14px;
	margin-bottom: 12px;
}

.single-new__subtitle{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

.paginator{
	display: flex;
	margin-bottom: 152px;
	align-items: center;
}

.paginator__display {
	margin-right: 25px;
}

.paginator__list{
	display: flex;
	align-items: center;
}

.paginator__item{
	text-align: center;
}

.paginator__link{
	background: transparent;
	color: #fff;
	margin-right: 13px;
	text-decoration: none;
	padding: 7px 12px;
	border-radius: 50%;
}

.paginator__link--aktiv{
	background: white;
	color: #F5170E;
}


.about{
	display: flex;
	color: black;
	margin-top: 152px;
	margin-bottom: 106px;
}

.about__img, .about__content {
	display: block;
}

.about__content{
	background-image: url(./img/mountains.png);
	max-width: 690px;
	height: 455px;
	margin-left: -47px;
	margin-top: 97px;
	border-radius: 10px;
	padding: 70px 202px 66px 80px;
}

.about__title{
	font-size: 36px;
	margin-bottom: 37px;
}

.about__text{
	font-size: 16px;
	margin-bottom: 43px;
}

.footer-container__content{
	border-top: 1px solid #fff;
}

.footer {
	position: relative;
	height: 152px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__col{
	display: flex;
	align-items: center;
}

.footer__col--align--righ{
	align-items: flex-end;
}

.contacts {
	top: 28px;
	right: 0px;
	font-style: normal;
	text-align: right;
}

.contacts__workhours {
	color: #9A9A9A;
	font-style: 11px;
}

.contacts__phone{
	text-decoration: none;
	font-size: 26px;
	margin-bottom: 2px;
}

.social__item {
	margin-right: 10px;
}

.social__item:last-child{
	margin-right: 0;
}

.social{
	margin-right: 75px;
}

.social__link {
	display: block;
	text-decoration: none;
	width: 36px;
	height: 36px;
}

/* services page */

.top-line{
	min-height: 412px;
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	background: url(./img/headline\ 1.png) right top no-repeat;
	background-size: 1920px 412px;
}

.top-line__container{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.page-title{
	font-size: 72px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 103px;
}

.breadcrumbs__list{
	display: flex;
	align-items: center;
}

.breadcrumbs__item{
	display: flex;
	align-items: center;
}

.breadcrumbs__item:after{
	content: "/";
	color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
	display: none;
}

.breadcrumbs__link{
	color: #9A9A9A;
	font-size: 14px;
}

.page-content{
	background: #F2F2F2;
	color: #303030;
	padding: 100px 0;
	margin-bottom: 0;
}

.service{
	display: flex;
	margin-bottom: 50px;
}

.service__img{
	width: 30%;
	margin-right: 7%;
}

.service__content{
	flex: 1;
}

.service__title{
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 29px;
	color: #000000;
}

.service__desc{
	margin-bottom: 35px;
}

.service__button{
	background: transparent;
	color: #F5170E;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	width: 135px;
	height: 55px;
	border-radius: 35px;
	margin-left: 24px;
	border: 1px solid #F5170E;
}

.service__button:hover{
	background: #F5170E;
	color: #FFFFFF;
}

.paginator--light{
	color: black;
	margin-bottom: 0;
}

.paginator--light .paginator__link--aktiv .paginator__link{
	color: #FFFFFF;
	background: #F5170E;
}

.paginator--light .paginator__link:hover{
	color: #FFFFFF;
	background: #F5170E;
}

.inner-partners{
	background: #F4F5F5;
	color: #1A1B1E;
	padding: 83px 0;
}

.inner-partners__title{
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 99px;
}

.partners{
	display: flex;
	flex-wrap: wrap;
}

.partners__item{
	margin-left: 60px;
}

.partners__item:nth-child(4n + 1){
	margin-left: 0;
}

.partners__link{
	text-decoration: none;
	display: flex;
	width: 230px;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.inner-footer__container{
	position: relative;
}

.inner-footer{
	margin-bottom: auto;
}  